@model IEnumerable<pruebaTecnica.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h1>clients</h1>
<h2>index</h2>

<p>
    <a asp-action="Create">create new client</a>
</p>
<table class="Table">
    <thead>
        <tr> fila
            <th>@Html.DisplayNameFor(model=>model.NameClient)</th>
            <th>@Html.DisplayNameFor(model=>model.LastnameClient)</th>
            <th>@Html.DisplayNameFor(model=>model.DNIClient)</th>
            <th>@Html.DisplayNameFor(model=>model.AdressClient)</th>
            <th>@Html.DisplayNameFor(model=>model.Phone)</th>
            <th>@Html.DisplayNameFor(model=>model.status)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem=>item.NameClient)</td>
                <td>@Html.DisplayFor(modelitem=>item.LastnameClient)</td>
                <td>@Html.DisplayFor(modelitem=>item.DNIClient)</td>
                <td>@Html.DisplayFor(modelitem=>item.AdressClient)</td>
                <td>@Html.DisplayFor(modelitem=>item.Phone)</td>
                <td>@Html.DisplayFor(modelitem=>item.status)</td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ClientId">edit</a>
                    <a asp-action="Details" class="btn btn-warning" asp-route-id="@item.ClientId">details</a>
                    <a asp-action="Delete" class="btn btn-warning" asp-route-id="@item.ClientId">delete</a>
                </td>
            </tr>

        }

    </tbody>
</table>0'